
body{
    background-color: white ;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* global classes */

.fs20 {
    font-size: 20px;
}

.fw700 {
    font-weight: 700 !important;
}

.fw300 {
    font-weight: 300 !important;
}

.mw300{
    max-width: 300px;
}




/* main page */

.main-page{
    background-color: #3597ff;
}

.discord-bar-text{
    padding-left: 450px;
    font-size: 14px;
}

.discord-button{
    padding-left: 900px;
    margin-top: -34px;
    
}





.mainlogo {
    margin-top: 50px;
}


.mainbar{
    margin-left: 250px;
    margin-top: -35px;
}


.main-text{
    padding-left: 50px;
    font-family: sans-serif;
    font-size: 37px;
    max-width: 500px;
    color: White;
}



.introductory-text{
    padding-left: 50px;
    font-family: sans-serif;
    font-size: 37px;
    max-width: 500px;
    color: White;

}

.below-main-text{
    font-size: 15px;
    max-width: 450px;
    padding-left: 50px;
    color: white;
}



.main-picture{
    max-width: 600px;
    margin-top: -250px;
    margin-left: 600px;
}

.introduction{
    margin-top: 80px;
    margin-left: 250px;
}

.openlab-menu-text{
    margin-top: -19px;
    margin-left: 300px;
    
    
}


.circle{
    max-width: 400px;
    margin-left: 1280px;
    margin-top: -200px;
}


/* Why openlab */
/* FLEBOX */

.why-openlab {
    text-align: center;
    font-size: 40px;
    margin-top: -100px;
    font-weight: 100;


}

.why-openlab-text {
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    color: #566B8D;
    font-size: 16px;
    font-family: sans-serif;
}

.why-openlab-imgs {
    max-width: 750px;
    padding-left: 225px;
}

.whyopenlab-items-container{
    display: flex;
    margin-left: 200px;
    align-items: center;
}

.whyopenlab-items-container li{
    margin-right: 30px;
    list-style: none;
}

/* Our vision in openlab */



.our-vision-in-openlab{
    font-size: 40px;
    margin-left: 50px;
    margin-top: 250px;
    font-weight: 100;
}

.our-vision-in-openlab-text{
    font-size: 16px;
    margin-left: 50px;
    color: #566b8d;
    
}

.img-vision-in-openlab{
    padding-left: 900px;
    margin-top: -300px;
    max-width: 500px;
}

/* Which labs can you study */


.which-labs-can-you-study{
    font-size: 40px;
    margin-left: 90px;
    font-weight: 100;
    
}

.which-labs-can-you-study-container{
    display: flex;
    margin-top: 40px;
}

.flex-labs{
    display: flex;
    margin-left: 100px;
}

.flex-labs li{
    margin-right: 100px;
    list-style: none;
}

/* we-are-on-two-schools */

.we-are-on-two-schools{
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
}

.school1{
    max-width: 500px;
    margin-right: 90px;
}

.school2{
    max-width: 550px
}

.schools-images-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.schools-images-text{
    display: flex;
}

.school1-text{
    margin-right: 200px;
    margin-left: 160px;
}

.school-images-text-container1{
    display: flex;
}

.school-images-text-container2{
    display: flex;
}

.p_letter{
    max-width: 400px;
    margin-left: 1200px;
    margin-top: -200px;
}

/* < !-- 
section 
Čo si myslia o OpenLabe študenti?
--> */

.students3_img{
    max-width: 800px;
    
}

h6{
    font-size: 40px;
    font-weight: 100;
}

.h7{
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    margin-top: 60px;
}

.we-are-all-openlab{
    display: flex;
    text-align: left;
    margin-top: 20px;
}

.students-in-openlab-box{
    background-color: orange;
    width: 600px;
    height: 400px;
    border: 2px solid rgb(172, 115, 10);
    border-radius: 12px;
}

.samo{
    width: 800px;
    margin-top: -400px;
    margin-left: 600px;

}

.students-projects{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

.students-projects-text{
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.realtopia{
    font-size: 20px;
    max-width: 400px;
}

.realtopia-text{
    max-width: 500px;

}

/* next section */
.what-makes-us-special{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

.what-makes-us-special-line1{
    display: flex;
    margin-top: 50px;
}
.what-makes-us-special-line2{
    display: flex;
    margin-top: 50px;
}

/* next section */
.get-to-know-us{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

.get-to-know-us-line1{
    display: flex;
}