
body{
    background-color: white ;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* 
header */

.discord-panel-container{
    display: flex;
    margin-left: 400px;
}

.discord-panel-buton-container{
    display: flex;
    background-color: rgba(194, 194, 194, 0.884);
    margin-left: 100px;
    text-align: center;
    border-radius: 5%;
    
}

.discord-link{
    margin-top: 5px;
}


.border-bottom{
    border-bottom: solid 1px #3597ff;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.menu-bar-container{
    display: flex;
}

.mainbar{
    display: flex;
    list-style-type: none;
    
}

.nav-link{
    margin-left: 50px;
    text-decoration: none;
    
}

/* mainpage */

.main-line-background{
    background-color: #3597ff;
    height: 440px;
    width: 1950px;
}

.main-page-flex{
    display: flex;
}

.main-text-box{
    margin-top: 60px;
    margin-left: 70px;
}

.main-text{
    font-weight: 100;
    font-size: 40px;
    color: white;
    width: 450px;
}

.below-main-text{
    font-weight: 100;
    font-size: 15px;
    color: white;
    width: 450px;
}

.main-home-img{
    max-width: 550px;
    margin-top: 15px;
    margin-left: 200px;

}
.circle{
    max-width: 500px;
    margin-top: 200px;

}


/* Why openlab */
/* FLEBOX */

.why-openlab {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin-top: 100px;


}

.why-openlab-text {
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    color: #566B8D;
    font-size: 17px;
    font-family: sans-serif;
    margin-top: 60px;
}



.whyopenlab-items-container{
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
    align-items: center;
}

.whyopenlab-items-container li{
    margin-right: 60px;
    list-style: none;
}
.social-development-text{
    max-width: 300px;
}

.learning-by-doing-text{
    max-width: 300px;
}

.talent-development-text{
    max-width: 300px;
}

/* Our vision in openlab */



.our-vision-in-openlab{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 250px;
    font-weight: 100;
}

.our-vision-in-openlab-text{
    font-size: 17px;
    margin-left: 100px;
    color: #566b8d;
    max-width: 640px;
    
}

.img-vision-in-openlab{
    padding-left: 900px;
    margin-top: -300px;
    max-width: 500px;
}

.our-vision-in-openlab-box{
    margin-left: 900px;
    margin-top: -300px;
}

.oviob-line1{
    display: flex;
}

.oviob-line2{
    display: flex;
}

.classes6{
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgba(221, 236, 251, 0.4);
    width: 230px;
    height: 180px;
    border-radius: 2%;
    color: #5b94d7;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.classes6-number{
    font-size: 70px;
    margin-top: 60px;
}

.students267{
    background-color: rgba(156, 238, 204, 0.4);
    width: 230px;
    height: 180px;
    border-radius: 2%;
    color: #5cc19a;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.students267-number{
    font-size: 70px;
    margin-top: 60px;
}


.labmasters12{
    margin-right: 20px;
    background-color: rgba(238, 226, 156, 0.4);
    width: 230px;
    height: 180px;
    border-radius: 2%;
    color: #dbca68;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.labmasters12-number{
    font-size: 70px;
    margin-top: 60px;
}

.schools2{
    background-color: rgba(238, 156, 156, 0.4);
    width: 230px;
    height: 180px;
    border-radius: 2%;
    color: #b95e73;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}
.schools2-number{
    font-size: 70px;
    margin-top: 60px;
}
/* Which labs can you study */


.which-labs-can-you-study{
    font-size: 40px;
    margin-left: 90px;
    font-weight: 100;
    max-width: 400px;
    
}

.which-labs-can-you-study-container{
    display: flex;
    margin-top: 160px;
    
}

.flex-labs{
    display: flex;
    margin-left: 100px;
}

.flex-labs li{
    margin-right: 100px;
    list-style: none;
}

.hybridlab-text{
    max-width: 170px;
    color: #566b8d;
}
.gameslab-text{
    max-width: 210px;
    color: #566b8d;
}

.appslab-text{
    max-width: 160px;
    color: #566b8d;
}

/* we-are-on-two-schools */

.we-are-on-two-schools{
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

.schools-container{
    display: flex;
    justify-content: center;
}
.school1-img{
    max-width: 530px;
    margin-right: 100px;
}
.school1-text-container{
    display: flex;
}
.school1-text{
    max-width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px
}

.school2-img{
    max-width: 530px;
}

.school2-text-container {
    display: flex;
}

.school2-text{
    max-width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}


/* < !-- 
section 
what-students-think-about-us
--> */

.students3_img{
    max-width: 800px;
    
}

h6{
    font-size: 40px;
    font-weight: 100;
}

/* join us */

.h7{
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    margin-top: 60px;
    max-width: 500px;
}

.we-are-all-openlab{
    display: flex;
    text-align: left;
    margin-top: 20px;
}
.labmasters{
    max-width: 170px;
}

.companies{
    max-width: 170px;
}
.schools-waao{
    max-width: 170px;
}
.students-waao{
    max-width: 170px;
}
/* students-in-openlab */

.students-in-openlab-box{
    background-color: orange;
    width: 600px;
    height: 400px;
    border: 2px solid rgb(172, 115, 10);
    border-radius: 12px;
    
}

.samo{
    width: 800px;
    margin-top: -400px;
    margin-left: 600px;

}

/* students-projects */

.students-projects{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

.students-projects-text{
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.realtopia{
    font-size: 20px;
    max-width: 400px;
}

.realtopia-text{
    max-width: 500px;

}

/* what-makes-us-special */

.what-makes-us-special{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

.what-makes-us-special-line1{
    display: flex;
    margin-top: 50px;
}
.what-makes-us-special-line2{
    display: flex;
    margin-top: 50px;
}

/* get-to-know-us */

.get-to-know-us{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

.get-to-know-us-line1{
    display: flex;
}
.get-to-know-us-line2 {
    display: flex;
}

/* help us */

.help-us-container{
    display: flex;
}

.help-us-img{
    max-width: 700px;
}

.help-us{
    font-size: 40px;
}

.help-us-text{
    max-width: 700px;
}


/* who-stands-behind-openlab */

.who-stands-behind-openlab{
    font-size: 40px;
    
}

.who-stands-behind-openlab-container{
    display: flex;
}

/* moderna skola */

.modern-school{
    font-size: 40px;

}

.links-container{
    display: flex;
    list-style: none;
}

.modern-school-buton{
    width: 100px;
    height: 50px;
    background-color: #3597ff;
    border-radius: 5%;
}

.skyro{
    max-width: 500px;
}
/* 
thank-you-for-your-support */

.thank-you-for-your-support-title {
    font-size: 40px
}

.support1{
    display: flex;
    
}

.support2 {
    display: flex;
    
}

/* last section */


.last-section-container{
    display: flex;
    width: 1300px;
    height: 100px;
    background-color: #96c4f5;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.last-section-text{
    text-align: center;
    max-width: 400px;
    margin-left: 30px;
    margin-top: 30px;
}

.write-email{
    background-color: white;
    width: 200px;
    height: 40px;
    margin-top: 10px;
}



/* footer */

