
body{
    background-color: white ;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* 
header */

.discord-panel-container{
    display: flex;
    margin-left: 400px;
    margin-top: 20px;
    
}

.discord-panel-buton-container{
    background-color: rgba(194, 194, 194, 0.397);
    margin-left: 100px;
    text-align: center;
    border-radius: 50rem;
    width: 180px;
    height: 30px;
    
    
}

.discord-link{
    margin-top: 5px;
}

.discord-panel-buton-text{
    font-size: 13px;
    text-decoration: none;
    color: rgb(54, 52, 52);
}

.discord-panel-text {
    font-size: 14px;
}


.border-bottom{
    border-bottom: solid 1px #3597ff44;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.menu-bar-container{
    display: flex;
}

.mainbar{
    display: flex;
    list-style-type: none;
    
}

.openlab-logo-mainbar{
    margin-left: 100px;
    width: 130px;
    margin-top: 10px;
}
.nav-link{
    margin-left: 30px;
    text-decoration: none;
    color: #151b25;
    font-size: 15px;
}

/* mainpage */

.main-line-background{
    background-color: #3597ff;
    height: 440px;
    width: 1950px;
}

.main-page-flex{
    display: flex;
}

.main-text-box{
    margin-top: 60px;
    margin-left: 70px;
}

.main-text{
    font-weight: 100;
    font-size: 40px;
    color: white;
    width: 450px;
}

.below-main-text{
    font-weight: 100;
    font-size: 15px;
    color: white;
    width: 450px;
}

.main-home-img{
    max-width: 550px;
    margin-top: 15px;
    margin-left: 200px;

}
.circle{
    max-width: 500px;
    margin-top: 200px;

}


/* Why openlab */
/* FLEBOX */


.why-openlab {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin-top: 100px;


}

.why-openlab-text {
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    color: #566B8D;
    font-size: 17px;
    font-family: sans-serif;
    margin-top: 60px;
}



.whyopenlab-items-container{
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
    align-items: center;
}

.whyopenlab-items-container li{
    margin-right: 60px;
    list-style: none;
}
.social-development-text{
    max-width: 300px;
}

.learning-by-doing-text{
    max-width: 300px;
}

.talent-development-text{
    max-width: 300px;
}

/* Our vision in openlab */

.ovib-main-flex{
    display: flex;
}

.our-vision-in-openlab{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 250px;
    font-weight: 100;
}

.our-vision-in-openlab-text{
    font-size: 17px;
    margin-left: 100px;
    color: #566b8d;
    max-width: 640px;
    
}


.our-vision-in-openlab-box{
    margin-top: 200px;
    margin-left: 200px;
}

.oviob-line1{
    display: flex;
}

.oviob-line2{
    display: flex;
}

.classes6{
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgba(221, 236, 251, 0.4);
    width: 230px;
    height: 180px;
    border-radius: 2%;
    color: #5b94d7;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.classes6-number{
    font-size: 70px;
    margin-top: 60px;
}

.students267{
    background-color: rgba(156, 238, 204, 0.4);
    width: 230px;
    height: 180px;
    border-radius: 2%;
    color: #5cc19a;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.students267-number{
    font-size: 70px;
    margin-top: 60px;
}


.labmasters12{
    margin-right: 20px;
    background-color: rgba(238, 226, 156, 0.4);
    width: 230px;
    height: 180px;
    border-radius: 2%;
    color: #dbca68;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.labmasters12-number{
    font-size: 70px;
    margin-top: 60px;
}

.schools2{
    background-color: rgba(238, 156, 156, 0.4);
    width: 230px;
    height: 180px;
    border-radius: 2%;
    color: #b95e73;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}
.schools2-number{
    font-size: 70px;
    margin-top: 60px;
}
/* Which labs can you study */


.which-labs-can-you-study{
    font-size: 40px;
    margin-left: 90px;
    font-weight: 100;
    max-width: 400px;
    
}

.which-labs-can-you-study-container{
    display: flex;
    margin-top: 160px;
    
}

.flex-labs{
    display: flex;
    margin-left: 100px;
}

.flex-labs li{
    margin-right: 100px;
    list-style: none;
}

.hybridlab-text{
    max-width: 170px;
    color: #566b8d;
}
.gameslab-text{
    max-width: 210px;
    color: #566b8d;
}

.appslab-text{
    max-width: 160px;
    color: #566b8d;
}

/* we-are-on-two-schools */

.we-are-on-two-schools{
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

.schools-container{
    display: flex;
    justify-content: center;
}
.school1-img{
    max-width: 530px;
    margin-right: 100px;
}
.school1-text-container{
    display: flex;
}
.school1-text{
    max-width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px
}

.school2-img{
    max-width: 530px;
}

.school2-text-container {
    display: flex;
}

.school2-text{
    max-width: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.school1-link{
    color: #3597ff;
    text-decoration: none;
    font-size: 20px;
    margin-top: 55px;
}

.school2-link{
    color: #3597ff;
    text-decoration: none;
    font-size: 20px;
    margin-top: 55px;
}


/* join us */

.h7{
    font-size: 40px;
    font-weight: 100;
    margin-top: 180px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    
    
}

.we-are-all-openlab{
    display: flex;
    text-align: left;
    margin-top: 90px;
    justify-content: center;
}
.labmasters p{
    max-width: 250px;
    margin-right: 80px;
    font-size: 18px;
    color: #566b8d;
}
.companies p{
    max-width: 250px;
    margin-right: 80px;
    font-size: 18px;
    color: #566b8d;
}
.schools-waao p{
    max-width: 250px;
    margin-right: 80px;
    font-size: 18px;
    color: #566b8d;
}
.students-waao p{
    max-width: 250px;
    margin-right: 80px;
    font-size: 18px;
    color: #566b8d;
}


/* students-projects */

.students-projects{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
    margin-top: 100px;
}

.students-projects-text{
    text-align: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: #566b8d;
    font-size: 16px;
}
.students-projects-in-openlab{
    margin-top: 50px;
    font-size: 18px;
    margin-left: 50px;
}

.realtopia{
    font-size: 30px;
    max-width: 500px;
    margin-top: 100px;
    margin-left: 50px;
}

.realtopia-text{
    max-width: 350px;
    color: #566b8d;
    font-size: 18px;
    margin-left: 50px;

}

.arrow-container{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}

.see-all-projects{
    text-decoration: none;
    color: #3597ff;
    
}

/* what-makes-us-special */

.what-makes-us-special{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
}

.what-makes-us-special-line1{
    display: flex;
    margin-top: 150px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.partnership{
    max-width: 300px;
    font-size: 17px;
    margin-right: 50px;

}

.partnership div {
    font-size: 20px;
}

.partnership p{
    color: #566b8d;
}

.labmaster {
    max-width: 300px;
    font-size: 17px;
    margin-right: 50px;

}

.labmaster div {
    font-size: 20px;
}

.labmaster p {
    color: #566b8d;
}

.study-block {
    max-width: 300px;
    font-size: 17px;

}

.study-block div {
    font-size: 20px;
}

.study-block p {
    color: #566b8d;
}

.problem-driven {
    max-width: 300px;
    font-size: 17px;
    margin-right: 50px;

}

.problem-driven div {
    font-size: 20px;
}

.problem-driven p {
    color: #566b8d;
}

.project-driven {
    max-width: 300px;
    font-size: 17px;
    margin-right: 50px;

}

.project-driven div {
    font-size: 20px;
}

.project-driven p {
    color: #566b8d;
}

.self-study{
    max-width: 300px;
    font-size: 17px;

}

.self-study div {
    font-size: 20px;
}

.self-study p {
    color: #566b8d;
}





.what-makes-us-special-line2{
    display: flex;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* get-to-know-us */

.get-to-know-us{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
}

.get-to-know-us-line1{
    display: flex;
}
.get-to-know-us-line2 {
    display: flex;
}

.viktoria-jakubovicova{
    margin-right: 20px;
    margin-left: 110px;
    
}

.viktoria-jakubovicova p{
    color: #566b8d;
}

.grigor-ayrumyan {
    margin-right: 20px;

}

.grigor-ayrumyan p {
    color: #566b8d;
}

.slavomir-terezka {
    margin-right: 20px;

}

.slavomir-terezka p {
    color: #566b8d;
}

.roman-sekera{
    margin-right: 20px;

}

.roman-sekera p {
    color: #566b8d;
}

.jan-kozlej {
    margin-right: 20px;
    margin-left: 110px;

}

.jan-kozlej p {
    color: #566b8d;
}

.veronika-radobicka{
    margin-right: 20px;

}

.veronika-radobicka p {
    color: #566b8d;
}




/* help us */

.help-us-container{
    display: flex;
    margin-top: 200px;
}

.help-us-img{
    max-width: 600px;
    margin-left: 40px;
}

.help-us{
    font-size: 40px;
    margin-top: 90px;
}

.help-us-text{
    max-width: 700px;
    color: #566b8d;
    font-size: 18px;
}

.i-want-to-support{
    color: #3597ff;
    text-decoration: none;
    font-size: 19px;
}


/* who-stands-behind-openlab */

.who-stands-behind-openlab{
    font-size: 40px;
    max-width: 400px;
    margin-left: 90px;
    
}

.who-stands-behind-openlab-container{
    margin-top: 200px;
    display: flex;
}

.who-stands-behind-openlab-logos{
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.logs_img1{
    margin-left: 100px;
}

.logs_img{
    margin-right: 60px;
    width: 200px;
    
}

/* moderna skola */

.modern-school{
    font-size: 40px;
    max-width: 450px;
    margin-left: 100px;
}
.modern-school-text{
    color: #566b8d;
    font-size: 17px;
    margin-left: 100px;
    max-width: 500px;
}

.modern-school-container{
    display: flex;
    margin-top: 150px;
}
.skyro{
    margin-left: 200px;
    
    
}

.links-container{
    display: flex;
    list-style: none;
    margin-left: 60px;
}
.links-container li{
    margin-right: 15px;
}
.modern-s-buton{
    background-color: #3597ff;
    height: 50px;
    width: 180px;
    margin-left: 100px;
    border-radius: 10%;
}

.modern-school-buton{
    width: 200px;
    height: 100px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-left: 25px;
    
}

.skyro{
    max-width: 500px;
}
/* 
thank-you-for-your-support */

.thank-you-for-your-support-title {
    font-size: 40px;
    text-align: center;
}

.support1{
    display: flex;
    justify-content: center;
}

.support1 img{
    margin-right: 70px;
}

.support2 {
    display: flex;
    justify-content: center;
    
}

.support2 img{
    margin-right: 70px;
}
/* last section */


.last-section-container{
    display: flex;
    width: 1300px;
    height: 100px;
    background-color: #96c4f5;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.last-section-text{
    text-align: center;
    max-width: 400px;
    margin-left: 30px;
    margin-top: 30px;
}
.write-email{
    margin-top: 30px;
    margin-left: 100px;
}

.email{
    
}



/* footer */

.footer-flex{
    display: flex;
}

.openlab-logo-footer{
    margin-left: 100px;
    margin-top: 100px;
}
.footer-text1{
    margin-left: 100px;
    
}
.footer-text2{
    margin-left: 100px;
}
.footer-text3{
    margin-left: 100px;
}

